.category {

  &-select {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;

    .card {
      width: 18rem;
      margin: 5px;

      .card-img {
        height: 300px;

        .card-img-top {
          width: 100%;
          height: 100%;
          background: #ddd;
        }
      }

    }
    .no-data {
      font-size: 1.3rem;
      text-align: center;
      width: 100%;
      font-style: italic;
      margin-top: 40px;
    }
    .card__plus {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      transition: all .4s;

      position: relative;
      overflow: hidden;

      .fa-plus {
        font-size: 50px;
        color: #0000ff;
      }
      &:hover {
        background: #ddd;
      }
    }
  }
}
